html, body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}
canvas {
  display: block;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
/*  margin-top: 3%;*/

}

.text{
	color: white;
	font-size: 25pt;
	position: fixed;
	margin-left: 40%;
	margin-top: 20%;
}
.next{
	position: fixed;
	bottom: 5%;
	right: 3%;
	color: white;
	font-size:35pt;
	font-style: sans-serif;
	color: white;

}
